* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.nav {
    height: 45px;
    background: #fff;
    position: relative;
    top: 0;
}

.index {
    background: #ebebeb;
}

.form-signin {
    position: absolute;
    right: 100px;
    top: 0;
    line-height: 45px;
}

.signup {
    position:  absolute;
    right:  30px;
    top: 11px;
    background: #ff6472;
    padding: 6px 10px;
    color: #fff;
    text-decoration:  none;
    font-size: 10px;
    font-family:  Arial;
}
h1 {
    font-family: Arial;
    font-size: 18px;
    line-height:  45px;
    margin: 0 0 0 30px;
    color: lightblue;
}

input[type="text"] {
    height:  25px;
    border: none;
    background: #e7e7e7;
    border-radius: 2px;
    padding-left: 5px;
    outline: none;
}

h3 {
    font-family: Arial;
    text-align: center;
    margin: 10px 0;
    color: #999;
}

input[type="password"], input[type="email"] {
    height: 25px;
    border: none;
    background: #e7e7e7;
    border-radius: 2px;
    padding-left: 5px;
    outline: none;
}

button {
    cursor: pointer;
    color: #999;
    height:  25px;
    padding: 0 10px;
    border: 1px solid #f5f5f5;
    background: #f5f5f5;
}

footer {
    text-align: center;
    line-height: 30px;
    position: fixed;
    width: 100%;
    background: #000;
    height: 30px;
    bottom: 0;
    color: #fff;
    font-family: Arial;
    font-size: 11px;
}

.content {
    width: 300px;
    margin: 0 auto;
    background: #fff;
    padding: 10px;
}

.content form input {
    width: 100%;
    margin-bottom: 10px;
}

.content form {
    text-align: center;
}

.content form button {
    background: #ff6472;
    color: #fff;
}